# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bae65b82e366799569becebad58a3b4b6cd848b5645399b7995404227bf53b89262fffc30a5f33b4542524c5f8703d08b43d98524849626dc203906e43624484

test:
  secret_key_base: 6f8c46c41a9ecfaf7e96370401ed9e43d66dabf2470ea5fafb601f50f1a6df65a453915f089467d0b6615f759555aa3bde00ed56170d5afd5df367d33c858af5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
